<div class="col-10 offset-1 about">

  <h1>About Splurty</h1>
  
  <p>
  Splurty was built by <a target="_blank" href="https://github.com/farhanprasla10/bootcamp-farhan">Farhan</a>. He is on a Mission to change his life to make it better. 
  </p>
  
  <br />
  
  <p>
  Life is very short, dont waste it by just thinking. if you want to achieve something in life. Just take a one step and other steps you will climb automatically. 
  </p>
  
  <div class="row">
  
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
    
      <h2 class="text-center">Farhan Prasla</h2>
      
      <br />
      
      <p>
      He is a Insurance agent and segerated fund investor. Who makes change and secured others life by recommeding suitable insurance and funds. And also give advice to save money in taxes.  
      </p>
      
    </div>
  </div>
  
  <br class="clear" />
  <br />
  <br />
  <br />
  <br />
</div>

